<h1> <%= @movie.title %> </h1>

<p> Creation Year: <%=@movie.creation_year  %> </p>
<p> Genre: <%=@movie.genre  %> </p>

<h2>Actors</h2>

<%@movie.actors.order(age: :desc).each do |actor| %>
  <p> <%=actor.name %> </p>
<% end %>
<p> Average Age of Actors: <%=@movie.actors.average_age%> </p>

<h3> Add an Actor</h3>
<p>Enter Actor's Name</p>
<%= form_tag("/movies/#{@movie.id}/actors", method: :post) do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br/>
<p><%= submit_tag 'Submit' %></p>
<% end %>
